.info{

background: url(../photo-1509043759401-136742328bb3.avif) ;
background-repeat: no-repeat;
background-size: 100%;
width: 100%;
background-attachment: fixed;
}
.box{
    display: flex;
    /* flex-wrap: wrap; */
    position: absolute;
    flex-wrap: wrap;
    text-align: center;
    backdrop-filter:blur(5px);
    justify-content: center;

} 
.box .a{
   
    flex-wrap: wrap;
    height: 217px;
    width: 384px;
    border: 1px solid red;
    color: rgb(251, 7, 7);
    padding: -7px;
    margin: 17px;
    border-radius: 10px;
box-shadow: 0 0 49px 0 rgba(0,5,69,.278);
background: #332f28;
  }
  .box .a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    /* border: 2px dotted red; */
    cursor: pointer;

  }

.box .a :hover{

   width: 500px;
   height: 500px;
}
 

  .box .a::before{
 border: hidden;
  }

  
/*   
  .box .a::before {
    width: 3px;
    height: 216px;
    box-shadow:  5px 210px 57px 18px deeppink;
  }
  
  .box .a::after {
    height: 4px;
    width: 382px;
    box-shadow: 5px 210px 57px 18px deeppink;
  }
  

  .box .a::before,
  .box .a::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    background-color: deeppink;
    transition: all 250ms ease-in-out;
  }
  .box .a:hover::before {
    left: -10px;
    box-shadow: 318px 0 deeppink;
  
  }
  
  .box .a:hover::after {
    top: -10px;
    
    box-shadow: 18px 254px deeppink;
  }

   */ */